﻿@{
    ViewBag.Title = "Eagle's Nest";
}
<div class="av-all container-fluid">
    <div class="av-bigboard">
        <h1 id="av-title" data-bind="text: Title">Innovation Session</h1>
        <h2 id="av-name-of-idea" data-bind="text: Subtitle"></h2>
        <div id="av-participants">
            <div class="row" data-bind="style: { fontSize: $root.ParticipantsFontSize() }">
                <div class="col-xs-10">Participant</div>
                <div class="col-xs-2">Sponsored</div>
            </div>
            <!-- ko foreach: Participants -->
            <div class="row" data-bind="style: { fontSize: $root.ParticipantsFontSize() }">
                <div class="col-xs-10" data-bind="text: $data">

                </div>
                <div class="col-xs-2">
                    <!-- ko if: $root.Sponsors().includes($data) -->
                    <img data-bind="style: { maxHeight: $root.ParticipantsFontSize() }" src="~/Content/yes.png" />
                    <!-- /ko -->
                    <!-- ko ifnot: $root.Sponsors().includes($data) -->
                    <img data-bind="style: { maxHeight: $root.ParticipantsFontSize() }" src="~/Content/no.png" />
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <div class="row" data-bind="style: { fontSize: $root.ParticipantsFontSize() }">
                <div class="col-xs-10">

                </div>
                <div class="col-xs-2">
                    Total: <span data-bind="text: Sponsors().length" class="av-calc">1</span>
                </div>
            </div>
        </div>
    </div>
    <div class="av-footer">
        <div class="row">
            <div class="col-xs-2">
                @*prev*@
                <a class="av-prev" href="#">
                    <span class="av-carat">&lt;</span>
                    Prev
                </a>
            </div>
            <div class="col-xs-2">
                @*date*@
                Date: @DateTime.Now.ToShortDateString()
            </div>
            <div class="col-xs-4">
                @*logo*@
            </div>
            <div class="col-xs-2">
                @*session*@
                <a href="/home/summary">Session: 1</a>
            </div>
            <div class="col-xs-2">
                @*next*@
                <a class="av-next" href="#">
                    Next
                    <span class="av-carat">&gt;</span>
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        function BuzzerVM() {
            var self = this;

            self.Title = ko.observable("");
            self.Subtitle = ko.observable("");
            self.Participants = ko.observable([]);
            self.Sponsors = ko.observable([]);

            self.ParticipantsFontSize = ko.pureComputed(function () {

                var ht_in_px = $('.av-bigboard').height();

                //the participant grid is roughly 3/4 of the big board
                ht_in_px = ht_in_px * .75;

                //we need enough room for each participant and the header/footer
                ht_in_px = ht_in_px / (self.Participants().length + 2);

                //each participant line needs some padding around it
                ht_in_px = ht_in_px / 2.5;

                //convert to pixel string for font-size /max-height property
                return ht_in_px.toString() + 'px';
            });
        };

        var vm = new BuzzerVM();


        (function ($) {

            $.extend({

                onSessionUpdate: function (e) {

                    if (e && e.data && e.data != "") {
                        //console.log(JSON.parse(e.data));

                        var pitchSession = JSON.parse(e.data);
                        var idea = pitchSession.Ideas[pitchSession.CurIdx];

                        vm.Title(idea.Title);
                        vm.Subtitle(idea.Subtitle);
                        vm.Participants(pitchSession.Participants);
                        vm.Sponsors(idea.Sponsors);
                    }
                },

                onPrevClick: function (e) {
                    $.ajax({
                        url: "/api/move",
                        type: "POST",
                        data: { moveDir: -1 }
                    });

                    $(".av-next").show();
                },

                onNextClick: function (e) {
                    $.ajax({
                        url: "/api/move",
                        type: "POST",
                        data: { moveDir: 1 }
                    });

                    $(".av-next").show();
                }

            });

            $(function () {

                //Subscribe to server updates
                var source = new EventSource('/api/ideasession');
                source.addEventListener('message', $.onSessionUpdate);


                //Bind the UI to our viewmodel
                ko.virtualElements.allowedBindings.Participants = true;
                ko.applyBindings(vm);

                //Register click handlers
                $(".av-prev").click($.onPrevClick);
                $(".av-next")
                    .click($.onNextClick)
                    .hide();

            });


        }(jQuery));

    </script>
}