﻿@model BuzzDTO.Models.PitchSession

@{
    ViewBag.Title = "Eagle's Nest";
}

<div class="av-all container-fluid">
    <div class="av-bigboard">
        <h1 id="av-title">Summary</h1>
        <div id="av-participants">
            <div class="row" style="font-size: 32px">
                <div class="col-xs-8">Idea</div>
                <div class="col-xs-4" style="text-align: left">Sponsor(s)</div>
            </div>
            <!-- ko foreach: Ideas -->
            <div class="row" style="font-size: 32px">
                <div class="col-xs-8" data-bind="text: Title">
                    
                </div>
                <div class="col-xs-4" style="text-align: left; word-wrap: normal" data-bind="text: Sponsors.join(', ')">
                    
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="av-footer">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-2">
                @*date*@
                Date: @DateTime.Now.ToShortDateString()
            </div>
            <div class="col-xs-4">
                @*logo*@
            </div>
            <div class="col-xs-2">
                @*session*@
                Session: 1
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        function BuzzerVM() {
            var self = this;

            self.Ideas = ko.observableArray([]);
        };

        var vm = new BuzzerVM();


        (function ($) {

            $.extend({

                onSessionUpdate: function (e) {

                    if (e && e.data && e.data != "") {
                        
                        //console.log(JSON.parse(e.data));

                        var pitchSession = JSON.parse(e.data);
                        
                        vm.Ideas(pitchSession.Ideas);
                    }
                }

            });

            $(function () {
                
                //Subscribe to server updates
                var source = new EventSource('/api/ideasession');
                source.addEventListener('message', $.onSessionUpdate);

                //Bind the UI to our viewmodel
                ko.virtualElements.allowedBindings.Ideas = true;
                ko.applyBindings(vm);

            });


        }(jQuery));

    </script>
}