﻿
html, body {
    font-family: 'Segoe UI', Arial;
    background: linear-gradient(to top right, #FF5800, #FFB414);
    color: #FFF;
    margin: 0;
    padding: 0;
}

/* reset */
h1, h2 {
    margin: 0;
    padding: 0;
}

.av-all {
    background: url('/Content/AvanadeLogoNoTM_AWWhiteSolid_RGB.png') no-repeat top right;
    background-size: auto calc((25vw - 2.25rem) / 7);
}

    .av-all a {
        color: #FFF;
    }

    .av-all a:hover {
        color: #006ec6;
        text-decoration: none;
    }

.av-bigboard {
    margin: 2.5vh 2.5vw;
    padding: 0 2.5vw; /* so that logo is outside table right edge */
    height: 85vh;
    overflow: hidden;
    
}

h1 {
    font-size: calc((30vw - 3rem) / 7);
    margin-top: .5em;
    text-align: center;
}

h2 {
    font-size: calc((20vw - 1.8rem) / 8);
    text-align: center;
}

/* each row in the participants table (header/footer incl) */
#av-participants > div {
    padding: .5em;
    font-size: calc((10vw - 1rem) / 7);
    border-bottom: solid 2px #FFF;
}

    /* header row */
    #av-participants > div:first-of-type {
        font-weight: bold;
    }

    /* footer row */
    #av-participants > div:last-of-type {
        border-bottom: none;
    }

    /* name
    #av-participants > div > div:first-of-type {
    } */

    /* thumb */
    #av-participants > div > div:last-of-type {
        text-align: center;
    }

#av-participants img {
    max-width: 100%;
    max-height: calc((20vw - 2rem) / 7);
}


.av-footer {
    background: #FFF url('/Content/express.jpg') no-repeat center center;
    background-size: 215px auto;
    height: calc(10vh);
    border: 1px solid #e5e5e5;
    color: #b2b2b2;
    font-size: calc((10vw - 1rem) / 7);
    padding-top: 2.5vh;
    overflow: hidden;
}

    /* prev container */
    .av-footer .col-xs-2:first-of-type {
        padding-left: 4em;
    }

    /* next container */
    .av-footer .col-xs-2:last-of-type {
        padding-right: 4em;
    }

    /* prev/next */
    .av-footer a {
        color: #b2b2b2;
    }

        .av-footer a:hover {
            color: #666666;
            text-decoration: none;
        }
